.search{
    background-image: url('../assets/Home_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(30%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.file-search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;
    width: 100vw;
}
.fileinput{
    margin: 3vh .5vw;
    width: 35vw;
    height: 6vh;
    border-radius: 25px;
}
.inputsearch{
    width: 3vw;
    margin: 3vh 0px;
}